@import 'base.css';
.wrap{width: 100%; max-width: 1200px; margin: 0 auto;}

.header{width: 100%; height: 100%; background-image: url("../img/bg.png"); background-repeat: no-repeat; background-size: cover; position: relative;}
.navs{text-align: center; color: #fff;font-size:1.25rem;}
.navs > li{display: inline-block;padding: 3%; cursor: pointer;}
.navs > li:hover{color: #2c9aff;}
.title{position: absolute; left: 40%; top:50%; font-family: 'Courgette', cursive; color: #333;z-index: 999; text-align: center;}
.title > p{font-size: 2rem; letter-spacing: 3px;}
.title > p > span{font-size: 2.625rem;font-family: 'Roboto', sans-serif;}
.cloud {animation:animate 100s linear alternate infinite; position:absolute; top:20%; left:0; z-index: 99;}
@keyframes animate {
	0% {left:0;}
	100% {left:-100%;}
}

.section{width: 100%;}
.sc_navs {width:15%; height:100%; text-align:center; font-size:1.25rem; border-right: 1px solid #ccc; position:fixed; left:-15%; z-index:9999; background-color:rgba(0,0,0,0.8); color: #fff;}
.sc_navs > li{padding:35% 0; cursor: pointer;}

.about{padding-top: 9.375rem; width: 100%; height: 100%;}
.about > h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;}
.about_lt{padding: 3.125rem 0;}
.about-eng{animation-name: aboutEng; animation-duration: 1s; animation-fill-mode: forwards; opacity: 0;}
@keyframes aboutEng{
	0%{transform: translateY(100px); opacity: 0;}
	100%{transform: translateY(0); opacity: 1;}
}

.about_lt > div{width: 24.375rem; height: 24.375rem; border-radius: 50%; overflow: hidden;}
.about-img{animation-name: aboutImg; animation-delay: 0.3s; animation-duration: 1s; animation-fill-mode: forwards; opacity: 0;}

@keyframes aboutImg{
	0%{transform: scale(2); opacity: 0;}
	100%{transform: scale(1); opacity: 1;}
}

.about_rt{padding: 3.125rem 0;}
.about_rt > p{color: #666; font-size: 1.25rem;}
.about_rt > p > span{font-weight: bold; color: #000; font-size: 1.5rem;}
.about_rt > h4{color:#999999;font-weight: bold;}
.about_rt > h5{color: #cccccc; line-height: 1.25rem;}

.skill{width: 100%; height: 100%; padding: 9.375rem 0;}
.skill > h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;padding-bottom: 3.125rem;}
.chart_wrap{width: 18.4%; float: left; border: 1px solid #ccc; padding: 3%; margin-right: 2%;}
.chart_wrap:last-child{margin-right: 0%;}

.ban_pic{position: relative; background: url(../img/bg02.png) no-repeat center; background-attachment: fixed; background-size: cover; width: 100%; height: 361px; }
.ban_pic > div{background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 100%;}
.ban_pic .ban_text{position: absolute; text-align: center; color: #fff; top: 30%; left: 40%;}
.ban_text > h3{font-weight: bold; line-height: 2rem;}
.ban_text > h3 > span{display: block;}

.portfolio{width: 100%; height:100%; padding-top: 9.375rem;}
.portfolio h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;padding-bottom: 3.125rem;}
.port_list{width: 50%;position: relative;}
.port_list > li{width: 100%; float: left;}
.port{position: relative;border: 1px solid #ccc; border-right:0;}
.port_img { position:relative; z-index:100;}
.port_img > .port_mo {position:absolute; bottom:0; left:50%;}
.port_hover { position:absolute; z-index:99; top:0; left:0; width:100%; height:100%; border: 1px solid #ccc; border-left: 0;}

.contact{width: 100%; height:100%; position:relative;}
.contact_tit {display:table; width:100%; height:20%;}
.contact_tit > div {display:table-cell; vertical-align:middle; text-align:center;}
.contact_tit h2 {color: #444444; font-weight: bold; font-size: 2.625rem;}
.cont_list{position: absolute; background: url(../img/bg03.png) no-repeat center; background-size:cover; width: 100%; height:80%;}
.cont_list > div {display:table;  height: 100%; width:100%;}
.cont_list > div > .cont_text {display: table-cell; vertical-align: middle; color: #fff; text-align: center;}
.cont_text_box {background-color: rgba(0,0,0,0.2); border: 1px solid #ccc; display:inline-block; padding:5%;}

.footer{width:100%; background-color: #333; display:table; position:absolute; bottom:0; min-height:50px;}
.footer > div {display:table-cell; vertical-align:middle; text-align:center; color: #fff; font-weight: bold;}
