@import 'base.css';
.wrap{width: 100%; max-width: 1200px; margin: 0 auto;}

.header{width: 100%; height: 100%; background-image: url("../img/bg.png"); background-repeat: no-repeat; background-size: cover; position: relative;}
.navs{text-align: center; color: #fff;font-size:1.25rem;}
.navs > li{display: inline-block;padding: 3%; cursor: pointer;}
.navs > li:hover{color: #2c9aff;}
.title{position: absolute; left: 40%; top:50%; font-family: 'Courgette', cursive; color: #333;z-index: 999; text-align: center;}
.title > p{font-size: 2rem; letter-spacing: 3px;}
.title > p > span{font-size: 2.625rem;font-family: 'Roboto', sans-serif;}
.cloud {animation:animate 100s linear alternate infinite; position:absolute; top:20%; left:0; z-index: 99;}
@keyframes animate {
	0% {left:0;}
	100% {left:-100%;}
}

.section{width: 100%;}
.sc_navs {width:15%; height:100%; text-align:center; font-size:1.25rem; border-right: 1px solid #ccc; position:fixed; left:-15%; z-index:9999; background-color:rgba(0,0,0,0.8); color: #fff;}
.sc_navs > li{padding:35% 0; cursor: pointer;}

.about{padding: 9.375rem 0; width: 100%; height: 100%;}
.about > h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;}
.about_lt{padding: 3.125rem 0;}
.about_lt > div{width: 24.375rem; height: 24.375rem; border-radius: 50%; overflow: hidden;}
.about_rt{padding: 3.125rem 0;}
.about_rt > p{color: #666; font-size: 1.25rem;}
.about_rt > p > span{font-weight: bold; color: #000; font-size: 1.5rem;}
.about_rt > h4{color:#999999;font-weight: bold;}
.about_rt > h5{color: #cccccc; line-height: 1.25rem;}

.skill{width: 100%; height: 100%; padding: 9.375rem 0; }
.skill > h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;padding-bottom: 3.125rem;}
.chart_wrap{width: 18.4%; float: left; border: 1px solid #ccc; padding: 3%; margin-right: 2%;}
.chart_wrap:last-child{margin-right: 0%;}

.ban_pic{position: relative; background: url(../img/bg02.png) no-repeat center; background-attachment: fixed; background-size: cover; width: 100%; height: 361px; }
.ban_pic > div{background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 100%;}
.ban_pic .ban_text{position: absolute; text-align: center; color: #fff; top: 30%; left: 40%;}
.ban_text > h3{font-weight: bold; line-height: 2rem;}
.ban_text > h3 > span{display: block;}

.portfolio{width: 100%; height: 100%; padding: 9.375rem 0; }
.portfolio h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;padding-bottom: 3.125rem;}
.port_list{width: 100%;}
.port_list > li{float: left; width: 49.5%; height:49.5%; margin-right: 1%; margin-bottom:1%; background-color: #000;}
.port_list > li:nth-child(2),.port_list > li:nth-child(4){margin-right: 0%;}
.port_list > li:nth-child(3),.port_list > li:nth-child(4){margin-bottom: 0%;}

.contact{width: 100%; height: 100%; padding: 9.375rem 0;}
.contact > h2{color: #444444; font-weight: bold; font-size: 2.625rem; text-align: center;padding-bottom: 3.125rem;}
.cont_list{position: relative; background: url(../img/bg03.png) no-repeat center; background-attachment: fixed; background-size: cover; width: 100%; height: 100%; min-height: 100%;}
.cont_list > div{display: table; position: absolute; background-color: rgba(0,0,0,0.2); border: 1px solid #ccc; width: 28.625rem; height: 28.625rem; top: 20%; left:40%;}
.cont_list > div > .cont_text{display: table-cell; vertical-align: middle; color: #fff; text-align: center;}
